html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lemon/Milk";
}

p {
  font-family: "Quicksand";
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
