html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lemon Milk";
}

p {
  font-family: "Quicksand";
}

@font-face {
  font-family: "Lemon Milk";
  src: url(/fonts/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: "Quicksand";
  src: url(/fonts/Quicksand-Medium.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
